.header_container{
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}

.left_header{
    display: flex;
    flex: 1;

}


.header_logo{
    background-image: url(../../../public/images/layout/header/motel-manager-logo.png);
    background-size: cover;  
    background-position: center; 
    display: block;
    height: 70px;
    width: 240px;
    margin-left: 84px;
}

.right_header{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-right: 84px;
}

.header_btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 0 10px;
    height: 40px;
    text-decoration: none;
    color: black;
}

.header_btn.isLoggedIn{
    display: none;
}

.header_btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

.logout_btn{
    display: none;
    justify-content: center;
    align-items: center;

    padding: 0;
    height: 40px;
    text-decoration: none;
    color: black;
}

.logout_btn.isLoggedIn{
    display: inline-flex;
}

.logo{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.user_image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.username{
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}



@media (max-width: 768px) {
    .header_logo, .right_header{
      margin: 0;
    }

    .header_logo{
        width: 200px;
    }    
  
  }
  
  /* Tablet and Smaller Desktop */
  @media (min-width: 768px) and (max-width: 1120px) {
  
  }